@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');

.header {
    height: 10vh;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header div {
    display: flex;
    align-items: center;
}

.header div img {
    height: 32px;
}

.header div h1 {
    font-size: 1.25rem;
    font-weight: 500;
    color: whitesmoke;
}

.fa-bars {
    font-size: 1rem;
    color: whitesmoke;
}

/* home */
.home {
    height: 80vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: whitesmoke;
}

.home h3 {
    margin-bottom: 16px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    color: whitesmoke;
}

.home button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}