/* services */

.services {
    width: 90%;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services h2 {
    margin-bottom: 8px;
    font-size: 2rem;
    font-weight: 500;
    color: whitesmoke;
    text-align: center;
}

.services h3 {
    margin-bottom: 32px;
    font-size: 1rem;
    font-weight: 400;
    color: whitesmoke;
    text-align: center;
}

.service-div {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.left-column i {
    height: 64px;
    width: 64px;
    margin-right: 8px;
    background: whitesmoke;
    border-radius: 50%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-column p {
    font-size: 1rem;
    font-weight: 400;
    color: whitesmoke;
}

/* portfolio */
.portfolio {
    width: 90%;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio h2 {
    margin-bottom: 8px;
    font-size: 2rem;
    font-weight: 500;
    color: whitesmoke;
    text-align: center;
}

.portfolio h3 {
    margin-bottom: 32px;
    font-size: 1rem;
    font-weight: 400;
    color: whitesmoke;
    text-align: center;
}